<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SwankRank</title>
        <link rel="stylesheet" type="text/css" href="public/css/reset.css">
        <link rel="stylesheet" href="public/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Puritan' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="header">
            <div id="logo">SwankRank</div>
            <div id="search-box">
                <input class="searchfield" type="text" placeholder="Search for any product or topic!" autocomplete="off">
                <input class="submit-button" type="image" src="public/img/magnifying-glass.png" alt="Search">
            </div>
            <div id="menu">
            </div>
        </div>
        <div id="main">
            <div class="ribbon-wrapper">
                <div class="ribbon-front">
                    <div class="ribbon-sortable">
                    </div>
                </div>
                <div class="ribbon-edge-topleft"></div>
                <div class="ribbon-edge-topright"></div>
                <div class="ribbon-edge-bottomleft"></div>
                <div class="ribbon-edge-bottomright"></div>
                <div class="ribbon-back-left"></div>
                <div class="ribbon-back-right"></div>
            </div>
            <div class="product-top">
                <div class="item-product">
                    <div class="item-image">
                        <div class="item-score">
                            <p class="score-number">78</p>
                        </div>
                        <img src="public/img/brave.jpg">
                    </div>
                    <div class="item-ribbon-wrapper">
                    <div class="item-ribbon-front">
                        <p class="item-name">Brave</span>
                    </div>
                    <div class="item-ribbon-edge-topleft"></div>
                    <div class="item-ribbon-edge-topright"></div>
                    <div class="item-ribbon-edge-bottomleft"></div>
                    <div class="item-ribbon-edge-bottomright"></div>
                    <div class="item-ribbon-back-left"></div>
                    <div class="item-ribbon-back-right"></div>
                    </div>
                </div> 
                <div class="item-description">
                    <div class="movie-synopsis">
                    Determined to make her own path in life, Princess Merida defies a custom that brings chaos to her kingdom. Granted one wish, Merida must rely on her bravery and her archery skills to undo a beastly curse.
                    </div>
                    <div class="movie-directors">
                    <em>Directed by:</em> 
                    <p>Mark Andrews, Brenda Chapman, and Steve Purcell</p>
                    </div>
                    <div class="movie-starring">
                    <em>Starring:</em> 
                    <p>Kelly McDonald, Billy Connolly, and Emma Thompson</p>
                    </div>
                </div>
            </div>
                <div class="product-bottom">
                    <div id="item-predictions">
                    <h1>Score Predictions</h1>
                </div>
            </div>
        </div>
        </div>
        <script id="icon-template" type="text/x-handlebars-template">
            <img class="img-sort" src="public/img/{{image}}" alt="{{name}}">
        </script>
        <script id="product-template" type="text/x-handlebars-template">
        <div class="item-product">
            <div class="item-image">
                <div class="item-score">
                    <p class="score-number">{{score}}</p>
                </div>
                <img src="public/img/{{image}}">
            </div>
            <div class="item-ribbon-wrapper">
            <div class="item-ribbon-front">
                <p class="item-name">{{name}}</span>
            </div>
            <div class="item-ribbon-edge-topleft"></div>
            <div class="item-ribbon-edge-topright"></div>
            <div class="item-ribbon-edge-bottomleft"></div>
            <div class="item-ribbon-edge-bottomright"></div>
            <div class="item-ribbon-back-left"></div>
            <div class="item-ribbon-back-right"></div>
            </div>
        </div> 
        <div class="item-description">
            <div class="movie-synopsis">
            {{synopsis}}
            </div>
            <div class="movie-directors">
                <em>Directed by:</em> 
                <p>{{director}}</p>
            </div>
            <div class="movie-starring">
                <em>Starring:</em> 
                <p>{{starring}}</p>
            </div>
        </div>
        </script>
        <script src="http://yui.yahooapis.com/3.5.1/build/yui/yui-min.js"></script>
        <script src="public/js/app.js"></script>
    </body>
</html>
