<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SwankRank</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Puritan' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="header">
            <div id="logo">SwankRank</div>
            <div id="search-box">
                <input class="searchfield" type="text" placeholder="Search for any product or topic!" autocomplete="off">
                <input class="submit-button" type="image" src="/img/magnifying-glass.png" alt="Search">
            </div>
            <div id="menu">
            </div>
        </div>
        <div id="main">
            <div class="ribbon-wrapper">
                <div class="ribbon-front">
                    <h1 id="welcome-title">Welcome to SwankRank</h1>
                    <h2 id="welcome-sub">the <em>next generation</em> of live crowdsourcing</h2>
                    <div class="ribbon-sortable">
                    </div>
                </div>
                <div class="ribbon-edge-topleft"></div>
                <div class="ribbon-edge-topright"></div>
                <div class="ribbon-edge-bottomleft"></div>
                <div class="ribbon-edge-bottomright"></div>
                <div class="ribbon-back-left"></div>
                <div class="ribbon-back-right"></div>
            </div>
            <div class="product-top">
                <div id="sign-up">
                    <h2>Find out more by signing up here:</h2>
                    <div id="name-box">
                        <input class="namefield" type="text" placeholder="Username">
                    </div>
                    <div id="email-box">
                        <input class="emailfield" type="text" placeholder="E-mail (for Gravatar)">
                    </div>
                    <button id="signup-btn" type="submit" class="new-btn">Get started!</button>
                </div>
                <img id="world-map" src="http://th06.deviantart.net/fs71/PRE/i/2010/262/3/7/dots_world_map_by_snowfleikun-d2z3p0y.jpg">
            </div>
            <div class="product-bottom">
            </div>
        </div>
        <script id="icon-template" type="text/x-handlebars-template">
            <img class="img-sort" src="/img/{{image}}" alt="{{name}}">
        </script>
        <script id="product-template" type="text/x-handlebars-template">
        <div class="item-product">
            <div class="item-image">
                <div class="item-score">
                    <p class="score-number">{{#if complete}}{{score}}{{else}}??{{/if}}</p>
                </div>
                <img src="/img/{{image}}">
            </div>
            <div class="item-ribbon-wrapper">
            <div class="item-ribbon-front">
                <p class="item-name">{{name}}</span>
            </div>
            <div class="item-ribbon-edge-topleft"></div>
            <div class="item-ribbon-edge-topright"></div>
            <div class="item-ribbon-edge-bottomleft"></div>
            <div class="item-ribbon-edge-bottomright"></div>
            <div class="item-ribbon-back-left"></div>
            <div class="item-ribbon-back-right"></div>
            </div>
        </div> 
        <div class="item-description">
            <div class="movie-synopsis">
            {{synopsis}}
            </div>
            <div class="movie-directors">
                <em>Directed by:</em> 
                <p>{{director}}</p>
            </div>
            <div class="movie-starring">
                <em>Starring:</em> 
                <p>{{starring}}</p>
            </div>
            <button type="submit" id="submit-rank" class="new-btn">
                All set? Submit your ranking!
            </button>
        </div>
        </script>
        <script id="stream-template" type="text/x-handlebars-template">
            <div id="item-predictions">
                <h1>Live Stream</h1>
                    <div id="prediction-list">
                    </div>
                </div>
            </div>
        </script>
        <script id="prediction-template" type="text/x-handlebars-template">
            <div class="score-prediction">
                <img src="http://www.gravatar.com/avatar/{{email}}?s=64">
                <p><em>{{name}}</em> has submitted a ranking for <em>Top Movies of Summer 2012</em></p>
            </div>
        </script>
        <script id="winner-template" type="text/x-handlebars-template">
            <div class="score-prediction">
                <img src="http://www.gravatar.com/avatar/{{email}}?s=64">
                <p><em>{{name}}</em></p>
            </div>
        </script>
        <script src="http://yui.yahooapis.com/3.6.0pr3/build/yui/yui-min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
